body {
    margin: 0;
    display: grid;
    grid-template-columns: 20% 3fr 1fr;
    grid-template-rows: 20% 1fr;
    height: 100vh;
}

#sidebar {
    background-color: rgb(32, 109, 252);
    grid-row: span 2;
}

#header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    grid-column: span 2;
}

#proj-wrapper {
    grid-column: 2;
    grid-row: 2;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(186, 186, 186);
  }

#projects {
    display: grid;
    grid-template-rows: 50px repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}

#section-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: -10px;
}

h2 {
    font-size: 1.5rem;
}

.proj-card {
    width: 25rem;
    height: 14rem;
    background-color: white;
    border-left: 10px solid orange;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-rows: 80% 1fr;
}

.card-bottom {
    display: flex;
    justify-content: flex-end;
}

.proj-icon {
    width: 25px;
    margin-right: 15px;
}

#announcements-col {
    background-color: rgb(186, 186, 186);
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    padding-top: 20px;
    padding-right: 20px;
}

#announcements-card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

.ann-section {
    background-color: white;
}

#trending {
    margin-top: 20px;
}

#trending-card {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    height: 18.75rem;
}

.trending-item {
    display: grid;
    grid-template-columns: 20% 1fr;
}

.trending-text {
    line-height: 4px;
}